<!-- About -->
<section class="page-section" style="padding-top: 0;" id="{{ site.data.sitetext[site.locale].about.section | default: "About" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img src="{{ site.data.sitetext[site.locale].about.image }}" alt="Clinical Scientific Computing Logo" width="350">
        <h3 class="section-heading" style="padding-top: 10px">{{ site.data.sitetext[site.locale].about.slogan }}</h3>
      </div>
    </div>
  </div>
</section>
<!-- End About -->