<head>
    <style>
        .page-section-title{
            background-image: url("/assets/img/blog/Hackathon-pic-2.jpeg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 30rem;
        }
        .title-text{
            float: left;
            text-align: left;
            width: 40%;
        }
    </style>
</head>


<section class="page-section-title">
    <div class="title-text">
        <h2 style="padding-left: 10%; color: white;">Focusing on Data, AI, and Safety in the NHS</h2>
    </div>
</section>