<!-- About -->
<section class="page-section" style="padding-top: 0px; padding-bottom: 100px;" id="{{ site.data.sitetext[site.locale].about.section | default: "About" }}">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <img src="{{ site.data.sitetext[site.locale].about.image }}" class="col-12 col-sm-8 col-lg-6" alt="Clinical Scientific Computing Logo">
        <h3 class="section-heading pt-2">{{ site.data.sitetext[site.locale].about.slogan }}</h3>
      </div>
    </div>
  </div>
</section>
<!-- End About -->