<head>
    <style>
        .page-section-title{
            background-image: url("/assets/img/blog/Hackathon-pic-2.jpeg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 30rem;
        }
        .title-text{
            float: left;
            text-align: left;
            @media (max-width:992px){
                padding: 10%;
            };
        }
    </style>
</head>

<section class="page-section-title">
    <div class="title-text col-12 col-md-6">
        <h2 style="color: white;">Focusing on Data, AI, and Safety in the NHS</h2>
    </div>
</section>