<div class="container">
    <h1>About</h1>
    <p>Find out more about the teams focus, individuals, and events.</p>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Our Focus</h3>
                    <p class="card-text">The main topics the CSC team works on, and the work that makes up these topics.</p>
                    <a href="#" class="btn">Go to Page</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Meet the Team</h3>
                    <p class="card-text">The core team making up CSC, fellows, and trainees.</p>
                    <a href="/team.html" class="btn">Go to Page</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Blog</h3>
                    <p class="card-text">Articles on topics we believe are interesting relating to digital healthcare.</p>
                    <a href="/articles.html" class="btn">Go to Page</a>
                </div>
            </div>
        </div>
    </div>
</div>