<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <title>{% if page.title %}{{ page.title | append: " | " | append: site.title }}{% else %}{{ site.title }}{% endif %}</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | relative_url }}">

  <!-- Custom fonts for this template -->
  <link href="{{ "/assets/css/all.min.css" | relative_url }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/jpg" href="/assets/img/favicon/favicon.ico"/>
  <link rel="icon" sizes="152x152" href="/assets/img/favicon/apple-touch-icon-152x152.png">
  <link rel="icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#3d89fe">
  <meta name="msapplication-TileColor" content="#3d89fe">
  <meta name="theme-color" content="#ffffff">
  <!-- Custom styles for this theme -->
  <link rel="stylesheet" href="{{ "/assets/css/agency.css" | relative_url }}">

</head>

<div class="container" id="pagecontainer">

<div class="row pt-5">
    <div class="col-12">
        <h1>The ACCEPT Clinical Trial: Assessing the Clinical Effectiveness of AI in Prioritising CT Heads</h1>
        <hr>
    </div>
</div>

<div class="row">
  <div class="col-12">
      <div class="row bg-light">
          <div class="col-4">
              <img src="/assets/img/accept/trial.png" width="35" height="35">
              <p><b>Trial Status</b></p>
              <p>Recruiting</p>
        </div>

          <div class="col-4">
              <img src="/assets/img/accept/nhs.png">
              <p><b>Clinical Trials ID</b></p>
              <p>NCT06027411</p>
          </div>

          <div class="col-4">
              <img src="/assets/img/accept/qure.png">
              <p><b>Last Updated</b></p>
              <p>9th October 2023</p>
        </div>
      </div>
  </div>
</div>
<hr>
<div class="row pb-5">
    <div class="col-8" style="border-style: solid">

        <p><b>Full title:</b></p>
        <p>Assessing the effectiveness of artificial intelligence (AI) in prioritising CT Head interpretation: A stepped-wedge cluster-randomized trial</p>

         <p><b>Trial sites:</b></p>
        <ul>
        <li>Queen Elizabeth University Hospital, Glasgow</li>
        <li>Guy’s and St Thomas’ Hospital, London</li>
        <li>John Radcliffe Hospital, Oxford</li>
        <li>Northumbria Specialist Emergency Care Hospital, Northumberland</li>
        </ul>

        <p><b>Study details:</b></p>
        <p>Imaging is an important part of a patient’s visit to the Emergency Department. How quickly a scan is
        reported impacts ED workflow and how quickly a patient can be discharged, or treatment initiated.
        There is a shortage of radiologists, with this projected to grow. The demand for imaging in ED is
        growing, creating a supply-demand mismatch, with turnaround times for image reporting being an ED
        bottleneck. AI solutions can improve productivity, efficiency and accuracy in image reporting. However,
        this is contingent on demonstrating clinical efficacy, positively impacting patient care, and improving
        clinical workflow.</p>
        <p>In the ACCEPT study , we will evaluate a CE marked Class 2b approved and FDA-cleared medical device which
        can identify and prioritise patients with critical findings from AI analysis of their head scans.</p>
        <p>All adults (aged >18) who attend ED and have a head CT scan will be included in the study. If you
        subscribe to the national data opt-out, your data will not be included in the final analysis.</p>
    </div>

  <div class="col-4" style="background-color: lightskyblue">
      <p><b>What is AI?</b></p>
      <p>Artificial Intelligence (AI) is the ability of a computer to perform tasks commonly associated with humans.</p>

      <p><b>What is AI being used for in this study?</b></p>
      <p>The AI used in this study reads brain scans and alerts doctors to a possible abnormality.</p>

      <p><b>What is the purpose of the study?</b></p>
      <p>To see if we can reduce the time taken for reporting head CT scans taken in A&E by using AI.</p>

      <p><b>Is the system already in use in the NHS?</b></p>
      <p>Yes. The AI system has been given regulatory approval and being used across multiple NHS trusts where is helping to improve patient care and reduce the workload of clinicians.</p>

      <p><b>How will this affect my care?</b></p>
      <p>The study will not affect usual, standard of care. Your head scan will still receive final authorization by a doctor and sent.</p>

      <p><b>How is the study funded?</b></p>
      <p>The National Institute for Health Research and the NHSx AI Award have funded this study.</p>

      <p><b>What are the benefits of having my scan interpreted by AI in addition to a doctor?</b></p>
      <p>The AI will identify scans with time-critical abnormalities and flag those for earlier reporting leading to quicker diagnosis or treatment.</p>

      <p><b>How will my results/data be used?</b></p>
      <p>If the results demonstrated quicker and more accurate reporting, the AI may be recommended for wider use in the NHS. The study results will be published and distributed through scientific meetings, but your personal details well remain confidential.</p>

      <p><b>Are there any risks to me?</b></p>
      <p>No, there will be no additional risks associated with the study as standard of care remains the same.</p>
  </div>
</div>
</div>