<!-- aide_landscape -->
<table class="table table-hover">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="../assets/landscape/aide_logo.jpg" alt="Aide" style = "float: left; margin-right: 30px; margin-bottom: 30px;" class="rectangle" width = "300" height = "180">
<style>
.rectangle{
border-radius:1%
padding = 1px;
border: 8px solid transparent;
background: linear-gradient(90deg, #e1f0d0 100%, #ce00 100%)
}

h2 {
  font-size: 1em;
  font-weight: normal;
  }
</style>
<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, blanditiis, eos fugit in magni modi nemo quaerat quis repudiandae sunt vero voluptatum! Accusantium alias deleniti deserunt, dolores earum eligendi, eum illo iusto minima minus nam numquam quos sint tempora ullam ut vitae. Cumque doloremque error, ipsam iusto minima molestiae quam?

Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam architecto assumenda consequuntur, earum explicabo, harum, minus nam porro quisquam recusandae sit voluptates! Aperiam beatae consequuntur dolorum minima optio temporibus!

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci animi, asperiores autem consectetur deserunt dolor eum eveniet excepturi fuga hic maxime omnis quaerat quibusdam, quis sunt veniam voluptatibus? Accusamus assumenda atque consequuntur culpa cumque dolorum ea eligendi error ex excepturi fugiat in iusto magni nesciunt, non odio optio placeat porro quam repellendus sed, sint veritatis voluptatum. Asperiores distinctio dolorem ducimus illo in itaque maxime non officia omnis, perspiciatis quo.</h2>
</body>
<!-- aide_landscape -->