<!-- Articles -->
<div class="container">
  <div class="row pt-3">
  {% for post in site.categories.articles %}
	<div class="col-12 col-md-6 col-lg-6 col-xl-4 pb-5" id="blogCard" >
	<a href="{{post.url}}">
	  <div class="card">
		<div class="card__header">
		  <img src="{{post.image}}" alt="card__image" class="card__image" width="350px" height= "300px" style="object-fit: cover" >

		</div>
		<div class="card__body">
		  <h4>{{post.title}}</h4>
		  <p>{{post.tag-line}}</p>
		  <small >{{post.read-time-mins}}</small>
		</div>
		<div class="card__footer">
		  <div class="user">
			<img src="{{post.author-image}}" alt="user__image" class="user__image">
			<div class="user__info">
			  <h5>{{post.author}}</h5>
			  <small>{{ post.date | date: "%-d %B %Y" }}</small>
			</div>
		  </div>
		</div>
	  </div>
	</a>
	</div>
  {% endfor %}
  </div>
</div>
<!-- End Team -->

