<!-- Team -->
<h5 class="text-muted">Article written by the CSC on topic we believe are important/interesting</h5>
<div class="container">
  <div class="row pt-3">
  {% for blog in site.data.blogs[site.locale].articles %}
	<div class="col-sm-4 pb-5" id="blogCard" >
	<a href="{{blog.blog-page}}">
	  <div class="card">
		<div class="card__header">
		  <img src="{{blog.image}}" alt="card__image" class="card__image" width="300">
		</div>
		<div class="card__body">
		  <h4>{{blog.title}}</h4>
		  <p>{{blog.tag-line}}</p>
		  <small>{{blog.read-time-mins}}</small>
		</div>
		<div class="card__footer">
		  <div class="user">
			<img src="{{blog.author-image}}" alt="user__image" class="user__image">
			<div class="user__info">
			  <h5>{{blog.author}}</h5>
			  <small>{{blog.date}}</small>
			</div>
		  </div>
		</div>
	  </div>
	</a>
	</div>
  {% endfor %}
  </div>
</div>
<!-- End Team -->

