<!-- Calendar -->
<div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Title</th>
      <th scope="col" class="d-none d-lg-block">Description</th>
      <th scope="col">Location</th>
      <th scope="col">Links</th>
    </tr>
  </thead>
  <tbody>
  {% for item in site.data.calendar %}
  <tr>
    <td> {{ item.date }}</td>
    <td>{{ item.title }}</td>
    <td class="d-none d-lg-block">{{ item.description }}</td>
    <td>{{ item.location }}</td>
    <td>{{ item.links }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
