<!-- Calendar -->
<div style="width:70%;display: inline-block">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Links</th>
    </tr>
  </thead>
  <tbody>
  {% for item in site.data.calendar %}
  <tr>
    <td>{{ item.date }}</td>
    <td>{{ item.title }}</td>
    <td>{{ item.description }}</td>
    <td>{{ item.links }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
<div style="width:20%; position:relative; left:80px; top:-50px;  display: inline-block">
    <meta charset="UTF-8">
<a class="twitter-timeline" data-width="450" data-height="800" href="https://twitter.com/haris_shuaib?ref_src=twsrc%5Etfw">Tweets by haris_shuaib</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <title>Title</title>
</div>


<!-- End Calendar -->
