<section class="page-section" >
    <div class="container" id="pagecontainer">
        <!-- Collaborators -->
        <h2>{{ site.data.collaborators.title }}</h2>
        <div class="row align-items-center">
            {% for c in site.data.collaborators.collaborators %}
            <div class="mx-auto col-sm-12 col-lg-4 p-4">
                <a href="{{ c.image-page }}">
                    <img style="width: 300px; vertical-align: middle;" src="{{ c.image }}" alt="{{ c.name }}">
                </a>
            </div>
            {% endfor %}
        </div>
    <!-- Collaborators-->
    </div>
</section>
