<section class="page-section" >
<div class="container" id="pagecontainer">
    <!-- Collaborators -->
      <h2>{{ site.data.collaborators[site.locale].title }}</h2>
      <div class="row pt-3">
      {% for c in site.data.collaborators[site.locale].collaborators %}
        <div class="col-4 pb-3">
            <a href="{{ c.image-page }}">
              <img style="width: 300px; border: 1px solid black;" src="{{ c.image }}" alt="{{ c.name }}">
            <h4>{{ c.name }}</h4>
        </div>
      {% endfor %}
      </div>
    </div>
    <!-- Collaborators-->
</div>
</section>
