<div class="container mt-5">
    <div class="table-responsive">
        <table class="table   text-black table-hover" style='background-color:#F8F9FA'>

                <tr>
                    <th colspan="2">Skills</th>
                    <th>Experts </th>
                    <th>In Progress</th>
                    <th></th>
                </tr>
             {% for skills in site.data.skils[site.locale].skills %}

            <tbody>
                <tr>
                    <td colspan="2">
                        <strong>{{ skills.name }} </strong>
                       {{ skills.description }}
                    </td>
                    <td>
                     {% for attribute in skills.experts %}
                            <div class="d-flex align-items-center"><img class="rounded-circle" src="{{ attribute.picture }}" width="30"><span class="ml-2">{{ attribute.person }}</span></div>
                     {% endfor %}
                    </td>
                    <td>
                    {% for attribute in skills.in-progress %}
                            <div class="d-flex align-items-center"><img class="rounded-circle" src="{{ attribute.picture }}" width="30"><span class="ml-2">{{ attribute.person }}</span></div>
                     {% endfor %}
                    </td>
                </tr>
                  {% endfor %}

            </tbody>


