<!-- Team -->
<h5 class="text-muted">Click on each fellow to find out more</h5>
<div class="container">
  <div class="row pt-3">
  {% for person in site.data.fellowship_cohort3[site.locale].team.people %}
    {% comment %}
      Generate a slugified name to look up social links
      e.g., "Clark Kent" → "clark-kent"
    {% endcomment %}
    {% assign key = person.name | downcase | replace: " ", "-" | replace: "’", "" | replace: "'", "" %}
    {% assign socials = site.data.social_links_fellows[key] %}

    <div class="col-md-6 col-lg-4 pb-4 text-center text-lg-left">
      <div class="team-member">
        <a href="{{ person.team-member-page }}">
          <img class="mx-auto p-1" style="width: 250px;" src="{{ person.image }}" alt="">
        </a>
        <h4>{{ person.name }}</h4>
        <p class="text-muted">{{ person.role }}</p>

        {% if socials %}
        <ul class="list-inline social-buttons">
          {% for network in socials %}
            <li class="list-inline-item text-center">
              <a href="{{ network.url }}">
                <i class="{{ network.icon }}"></i>
              </a>
            </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  </div>
</div>
<!-- End Team -->
