<!-- Team -->
<h5 class="text-muted">Click on each fellow to find out more</h5>
<div class="container">
  <div class="row pt-3">

    {% for person in site.data.fellowship_cohort3[site.locale].team.people %}
      {% assign url_name = person.name | slugify %}
      {% assign page_url = "/fellow/" | append: url_name | append: ".html" %}
      {% assign image_path = "/assets/img/fellow/" | append: url_name | append: ".jpg" %}
      {% assign socials = site.data.social_links_fellows[url_name] %}

      <div class="col-md-6 col-lg-4 pb-4 text-center text-lg-left">
        <div class="team-member">

          <a href="{{ page_url }}">
            <img class="mx-auto p-1" style="width: 250px;" src="{{ image_path }}" alt="">
          </a>

          <h4>{{ person.name }}</h4>
          <p class="text-muted">{{ person.role }}</p>

          {% if socials %}
          <ul class="list-inline social-buttons">
            {% for network in socials %}
            <li class="list-inline-item text-center">
              <a href="{{ network.url }}">
                <i class="{{ network.icon }}"></i>
              </a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}

        </div>
      </div>
    {% endfor %}

  </div>
</div>
<!-- End Team -->