<div class="container">
    <h1>Learn</h1>
    <p>Discover resources and platforms to learn more about medical software and AI.</p>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Resources</h3>
                    <p class="card-text">A database of resources we recommend to anyone wanting to learn more about medical software and AI.</p>
                    <a href="/resources.html" class="btn">Go to Page</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Medical Software</h3>
                    <p class="card-text">Discover processes behind creating or purchasing Software as a Medical Device (SAMD)</p>
                    <a href="/samd.html" class="btn">Go to Page</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Infrastructure</h3>
                    <p class="card-text">The infrastructure and guidance in place to develop AI tools in the NHS, including the platforms to achieve this.</p>
                    <a href="/platforms.html" class="btn">Go to Page</a>
                </div>
            </div>
        </div>
    </div>
</div>