<!-- Main Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark" id="mainNav" style="background-color: #FFFFFF">
  <div class="container">

    <!--CSC & GSTT logos-->
    <a class="navbar-brand js-scroll-trigger" href="{{ "/" | relative_url }}">
    <img height="{{ site.logo.height | default: 42 }}" src="/assets/img/CSC-logo-trans-sm.png"/>
    </a>
    <a class="navbar-brand mr-auto js-scroll-trigger" href="{{ site.gstturl }}" target="_blank">
      <img height="{{ site.logo.height | default: 42 }}" src="/assets/img/gstt-logo-trans.png"/>
    </a>
    <!--End CSC & GSTT logos-->

    <!--Main Navbar-->
    <!--Menu Button-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Main <i class="fas fa-bars" ></i>
    </button>
    <!--End Menu Button-->

    <!--Menu Items-->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase text-center ml-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">About Us</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Our Focus</a>
            <a class="dropdown-item" href="/team.html">The Team</a>
            <a class="dropdown-item" href="/articles.html">Blog</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/about.html">About</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Education</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/fellowship.html">Fellowship in Clinical AI</a>
            <a class="dropdown-item" href="/stp.html">Scientist Training Program</a>
            <a class="dropdown-item" href="/getinvolved.html">get Involved</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/education.html">Education</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Learn</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/resources.html">Resources</a>
            <a class="dropdown-item" href="/samd.html">Medical Software</a>
            <a class="dropdown-item" href="/platforms.html">Infrastructure</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/learn.html">Learn</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Our Work</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/projects.html">Projects</a>
            <a class="dropdown-item" href="#">Open Source Content</a>
          </div>
        </li>
      <li class="nav-item">
          <a class="nav-link" href="/get-in-touch.html">Contact</a>
        </li>
      </ul>
    </div>
    <!--EndMenu Items-->

    <!--End Main Navbar-->
  </div>
</nav>
<!-- End Main Navigation -->
