<!-- Navigation -->
<nav
  class="navbar navbar-expand-lg navbar-dark"
  id="mainNav"
  style="background-color: #FFFFFF"
>
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="{{ site.baseurl }}/#">
      <img
        height="{{ site.logo.height | default: 42 }}"
        src="https://raw.githubusercontent.com/GSTT-CSC/csc-test-site/gh-pages/assets/img/CSC-logo-trans-sm.png"
      />
    </a>
    <a class="navbar-brand js-scroll-trigger" href="{{ site.gstturl }}" target="_blank">
      <img
        height="{{ site.logo.height | default: 42 }}"
        src="https://raw.githubusercontent.com/GSTT-CSC/csc-test-site/gh-pages/assets/img/gstt-logo-sm.jpg"
      />
    </a>
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      Menu <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
      <!-- {% for link in site.data.navigation[site.locale].nav %}
        <li class="nav-item">
          {%- if link.url -%}
            <a class="nav-link js-scroll-trigger" href="{{ link.url }}">{{ link.title }}</a>
          {%- else if link.section -%}
            <a class="nav-link js-scroll-trigger" href="{{ link.section }}">{{ link.title }}</a>
          {%- else -%}
            <a class="nav-link js-scroll-trigger" href="#">{{ link.title }}</a>
          {%- endif -%}
        </li>
      {% endfor %} -->
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/team.html">About Us</a>
        </li>
        <li class="nav-item">
            <a class="people-link nav-link js-scroll-trigger" href="/people.html">People</a>
        </li>
        <li class="nav-item">
            <a class="platforms-link nav-link js-scroll-trigger" href="/platforms.html">Platforms</a>
        </li>
        <li class="nav-item">
            <a class="policy-link nav-link js-scroll-trigger" href="/policy.html">Policy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/ourwork.html">Our Work</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/articles.html">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navigation -->
