<!-- our_work -->
<table class="table table-hover">
<head>
    <meta charset="UTF-8">
    <title>let's put a pic in here</title>
<style>
.rounded-circle{
border-radius:5%
padding = 1px;
border: 8px solid transparent;
background: linear-gradient(90deg, #CFEDF8 100%, #ce00 100%)

}

.row {
  display: flex;
}


.column {
  float: left;
  width: 25%;
padding: 10px;
}


</style>

</head>
<body>
    <div class="row">
           <div class="column">
               <a href="/our_work_cerebrui.html">
       <img src="../assets/our_work/Cerebrui.png" alt="Aide" class="rounded-circle" width = "250" height = "200">
                   </a>
               </div>
          <div class="column">
       <img src="../assets/our_work/Aidence.png" alt="Cogstack" class="rounded-circle" width = "250" height = "200">
                </div>
        <div class="column">
       <img src="../assets/our_work/AiDoc.png" alt="Aide" class="rounded-circle" width = "250" height = "200">
           </div>
            <div class="column">
       <img src="../assets/our_work/Carnax.png" alt="Cogstack" class="rounded-circle" width = "250" height = "200">
           </div>
   </div>
</body>
<!-- our_work -->