<!-- Roadmap -->
<div class="row">
  <div class="col-lg-12">
    <ul class="roadmap">
      {%- assign align = site.data.roadmap.start_align -%}
      {%- for event in site.data.roadmap.events -%}
      {%- if align == "right" -%}
      {%- if event.align and event.align == "left" -%}
      {%- assign align = "right" -%}
      <li>
        {%- else -%}
        {%- assign align = "left" %}
      <li class="roadmap-inverted">
        {% endif %}
        {% else %}
        {%- if event.align and event.align == "right" -%}
        {%- assign align = "left" -%}
      <li class="roadmap-inverted">
        {%- else -%}
        {%- assign align = "right" %}
      <li>
        {% endif %}
        {%- endif -%}
        <div class="roadmap-image">
          <img class="rounded-circle img-fluid" src="{{ event.image }}" alt="{{ event.alt | default: ""}}">
        </div>
        <div class="roadmap-panel">
          <div class="roadmap-heading">
            <h5>{{ event.date | markdownify }}</h5>
            <h4 class="subheading">{{ event.title }}</h4>
          </div>
          <div class="roadmap-body">
            <div class="text-muted">{{ event.desc | markdownify }}</div>
          </div>
        </div>
      </li>
      {% endfor %}

      {% if site.data.roadmap.end %}
      <li class="roadmap-inverted">
        <div class="roadmap-image">
          <a href="/ourwork.html" style="color: white">
            <h4>{{ site.data.roadmap.end }}</h4>
          </a>
        </div>
      </li>
      {% endif %}

    </ul>
  </div>
</div>
<!-- End Roadmap -->
