<!-- Second Navbar -->
<nav
  class="navbar navbar-expand-lg navbar-light "
  id="subNav"
  style="background-color: #EBF4E1"
>
  <div class="container">
  		<!-- <button class="navbar-toggler navbar-toggler-right"
  			type="button" data-toggle="collapse"
  			data-target="#navbarNavAltMarkup"
  			aria-controls="navbarNavAltMarkup"
  			aria-expanded="false"
  			aria-label="Toggle navigation">

  			<span class="navbar-toggler-icon"></span>
  		</button> -->
      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

  		<div class="collapse navbar-collapse" id="navbarResponsive">
  			<ul class="navbar-nav ml-auto text-uppercase">
              <li class="nav-item">
                <a class="nav-link platforms-link js-scroll-trigger" href="#">The Landscape</a>
              </li>
          <li class="nav-item">
                <a class="nav-link platforms-link js-scroll-trigger" href="aidelandscape.html">AIDE</a>
              </li>
                <li class="nav-item">
                <a class="nav-link platforms-link js-scroll-trigger" href="thelandscape.html">FLIP</a>
              </li>
                <li class="nav-item">
                <a class="nav-link platforms-link js-scroll-trigger" href="thelandscape.html">CogStack</a>
              </li>
                <li class="nav-item">
                <a class="nav-link platforms-link js-scroll-trigger" href="thelandscape.html">XNAT</a>
              </li>
                <li class="nav-item">
                <a class="nav-link platforms-link js-scroll-trigger" href="thelandscape.html">MLOPS</a>
              </li>
  			</ul>
  		</div>

  </div>
</nav>
<!-- End Second Navbar -->
