<!-- Projects SubNavbar -->
<nav class="navbar navbar-expand-lg navbar-light" id="subNav" style="background-color: #D6F1FF">
    <div class="container">

        <!--SubNav Menu Button-->
        <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#subNavbarResponsive" aria-controls="subNavbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Projects <i class="fas fa-bars"></i>
        </button>
        <!--End SubNav Menu Button-->

        <!--SubNav Menu Items-->
        <div class="collapse navbar-collapse" id="subNavbarResponsive">
  			<ul class="navbar-nav text-uppercase text-center ml-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/projects.html">Current Projects</a>
              </li>
  			</ul>
        </div>
        <!--End SubNav Menu Items-->
    </div>
</nav>
<!-- End Projects SubNavbar -->