C<!-- table_of_contents -->
<table class="table table-hover">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="toc_container">
<p class="toc_title">Contents</p>
<ul class="toc_list">
  <li><a href="#First_Point_Header">1 First Point Header</a>
  <ul>
    <li><a href="#First_Sub_Point_1">1.1 First Sub Point 1</a></li>
    <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a></li>
  </ul>
</li>
<li><a href="#Second_Point_Header">2 Second Point Header</a></li>
<li><a href="#Third_Point_Header">3 Third Point Header</a></li>
</ul>
</div>
<style>
#toc_container {
    background: #CFEDF8 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;

}


</style>
<p1>The CSC Handbook: an essential guide to all things CSC. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, blanditiis, eos fugit in magni modi nemo quaerat quis repudiandae sunt vero voluptatum! Accusantium alias deleniti deserunt, dolores earum eligendi, eum illo iusto minima minus nam numquam quos sint tempora ullam ut vitae. Cumque doloremque error, ipsam iusto minima molestiae quam?</p1>
<style>
.p1 {
  clear =right
}
</style>
</body>
<!-- table_of_contents -->