<!-- What We Do -->
<section class="page-section" id="{{ whatwedo.section | default: "What we do" }}">
  <div class="container">
    <h3>{{ site.data.whatwedo[site.locale].whatwedo.title }}</h3>
    <div class="row pt-3">
    {% for aspect in site.data.whatwedo[site.locale].whatwedo.aspects %}
      <div class="col-sm-4 pb-5" >
          <div class="col col-lg-2">
            <img src="{{ aspect.image }}"  width="100">
          </div>
          <div class="col">
            <h3 style="color:{{ aspect.colour }}">{{ aspect.title }}</h3>
            <p class="text-muted">{{ aspect.text }}</p>
          </div>
      </div>
    {% endfor %}
    </div>
  </div>
</section>
<!-- End What We Do -->