// Main NavBar
#mainNav {
   background-color: #FFFFFF;
   border-bottom:1px solid $csc-blue;

  // NavBar Toggle Button
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    color: white;
    border: 0;
    background-color: $csc-blue;
    outline: $csc-blue;
    box-shadow: none;
    @include heading-font;
    &:hover { background-color: lighten($csc-blue, 10%); }
  }
  .navbar-brand {
    color: $csc-blue;
    @include heading-font;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($csc-blue, 20%);
    }
  }

  // Main NavBar Items
  .navbar-nav
  {
    .nav-item
    {
      &.active
      {
        text-decoration: underline;
      }
      .nav-link
      {
        font-size: 100%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: $csc-blue;
        @include heading-font;
        &.active,
        &:hover
        {
          color: darken($csc-blue, 20%);
          background-color: $csc-blue-pastel;
        }
      }
      .dropdown-menu{
        @include heading-font;
        .dropdown-item{
          color:$csc-blue;
          &.active,
          &:hover
          {
            color: darken($csc-blue, 20%);
            background-color: $csc-blue-pastel;
          }
        }
      }
    }
  }
}

// Navbar Font Padding & more... (could be tidier) - styles only for larger screens
@media (min-width: 992px) {
  #mainNav {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    border-bottom:1px solid $csc-blue;
    background-color: white;
    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav {
      .nav-item {
        position:unset;
        .nav-link {
          padding: 1.1em 1em !important;
        }
        .dropdown-menu{
          width:100vw;
          position: absolute;
          top:auto;
          padding: 1.5%;
          overflow: scroll;
      }
      }
    }
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: white;
      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
    }
  }
}