// Styling for the navbar
#mainNav {
  // background-color: $gray-900;
  // background-color: $csc-blue-pastel;
  // position: relative;
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: $primary;
    @include heading-font;
  }
  .navbar-brand {
    color: $primary;
    @include heading-font;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($primary, 20%);
    }
  }
  .navbar-nav
  {
    .nav-item
    {
      .nav-link
      {
        font-size: 100%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: $csc-blue;
        @include heading-font;
        &.active,
        &:hover
        {
          color: darken($csc-blue, 20%);
          background-color: $csc-blue-pastel;
        }
      }
      .people-link
      {
        font-size: 100%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: $people-purple;
        @include heading-font;
        &.active,
        &:hover
        {
          color: darken($people-purple, 0%);
          background-color: $people-purple-pastel;
        }
      }
      .platforms-link
      {
        font-size: 100%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: $platform-green;
        @include heading-font;
        &.active,
        &:hover
        {
          color: darken($platform-green, 0%);
          background-color: $platform-green-pastel;
        }
      }
      .policy-link
      {
        font-size: 100%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: $policy-blue;
        @include heading-font;
        &.active,
        &:hover
        {
          color: darken($policy-blue, 0%);
          background-color: $policy-blue-pastel;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  #mainNav {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: white;
    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
        }
      }
    }
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: white;
      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
    }
  }
}
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $gray-900;
      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
    }
  }
}
