<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">

  {% include head.html %}

  <body id="page-top">

      {{ content }}

	  {% include footer.html %}

	  <!-- Bootstrap core JavaScript -->
	  <script src="{{ "assets/js/jquery.min.js" | prepend: site.baseurl }}"></script>
	  <script src="{{ "assets/js/bootstrap.bundle.min.js" | prepend: site.baseurl }}"></script>

	  <!-- Plugin JavaScript -->
	  <script src="{{ "assets/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

	  <!-- Contact form JavaScript -->
	  <script src="{{ "assets/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
	  <script src="{{ "assets/js/contact_me.js" | prepend: site.baseurl }}"></script>

	  <!-- Custom scripts for this template -->
	  <script src="{{ "assets/js/agency.min.js" | prepend: site.baseurl }}"></script>

  </body>
</html>