---
layout: default
---
{% include navheader.html %}
{% include about.html %}
{% include whatwedo.html %}

<!--Roadmap-->
<section class="page-section" id="{{ site.data.roadmap.section }}">
<div class="container">
    <h2 class="section-heading pb-3">{{ site.data.roadmap.title | markdownify | default: "Roadmap" }}</h2>
    {% include roadmap.html %}
</div>
</section>
<!--End Roadmap-->

<!--Calendar & Twitter-->
<section class="page-section bg-light" id="{{ site.data.sitetext[site.locale].calendar.title | default: "CSC Calendar" }}">
<div class="container">
  <div class="row">
    <div class="col-7 mr-5">
       <h2 class="pb-4">{{ site.data.sitetext[site.locale].calendar.title }}</h2>
       {% include calendar.html %}
    </div>
    <div class="col-4">
       <h2 class="pb-4">Twitter</h2>
       {% include twitter.html %}
    </div>
  </div>
</div>
</section>
<!--End Calendar & Twitter-->
{% include collaborators.html %}
