---
layout: default
---
{% include nav.html %}
{% include subnav-platforms.html %}

{% if page.background == "grey" or page.background == "gray" %}
<script>
document.getElementById("page-top").className="bg-light";
</script>
{% endif %}

<div class="container" id="pagecontainer">

    <h1>{{ site.data.platforms[site.locale].title }}</h1>

    <!--Landscape Wheel-->
    <h3 class="lead">
    The Landscape wheel below shows the software platforms that the CSC team uses in order to bring AI models from data
        collection all the way through to deployment.
    </h3>

    <p class="text-muted">Click on the platform names to find out more about each one:</p>

    <div style="text-align: center;" class="pt-4">
        <img src="assets/img/platforms/platforms-wheel.png" class="w-50" usemap="#workmap">
    </div>

    <map name="workmap">
        <area shape="rect" coords="450,200,480,300" alt="Computer" href="/platforms/flip.html">
        <area shape="rect" coords="500,250,700,350" alt="Computer" href="/platforms/mlops.html">
        <area shape="rect" coords="90,400,250,500" alt="Computer" href="/platforms/aide.html">
        <area shape="rect" coords="110,90,220,180" alt="Computer" href="/platforms/cogstack.html">
        <area shape="rect" coords="220,20,310,70" alt="Computer" href="/platforms/xnat.html">
    </map>

    <!--Landscape Grid-->
    <br />
    <br />
    <p class="text-muted">{{ site.data.platforms[site.locale].intro-text }}</p>

      <div class="row pt-3">
      {% for platform in site.data.platforms[site.locale].platforms %}
        <div class="col-4 pb-3">
            <h4>{{ platform.name }}</h4>
            <a href="{{ platform.platform-page }}">
              <img style="width: 300px;" src="{{ platform.platform-image }}" alt="{{ platform.name }}">
            </a>
            <p>{{ platform.platform-verb }}</p>
        </div>
      {% endfor %}
      </div>
    </div>
    <!-- Landscape -->


