---
layout: default
---
{% include nav.html %}
{% include subnav-platforms.html %}

{% if page.background == "grey" or page.background == "gray" %}
<script>
document.getElementById("page-top").className="bg-light";
</script>
{% endif %}

<div class="container">
    <br>
    <br>
    <h1 class="text-center text-md-left">{{ page.platform-name }}</h1>
    <br>
    <div class="row">
        <div class="col-12 col-lg-4 text-center text-md-left">
            <img class="mx-auto pb-4" src={{ page.platform-image }} alt="">
        </div>
        <div class="col-12 col-lg-8">
                {{ content }}
            </div>
        </div>
    </div>
</div>