---
layout: default
---
{% include nav.html %}
{% include subnav-platforms.html %}

{% if page.background == "grey" or page.background == "gray" %}
<script>
document.getElementById("page-top").className="bg-light";
</script>
{% endif %}

<div class="container" id="pagecontainer">
    <!-- Landscape -->
      <h1>{{ site.data.platforms[site.locale].title }}</h1>
      <h5 class="text-muted">{{ site.data.platforms[site.locale].intro-text }}</h5>
      <div class="row pt-3">
      {% for platform in site.data.platforms[site.locale].platforms %}
        <div class="col-4 pb-3">
            <a href="{{ platform.platform-page }}">
              <img style="width: 300px;" src="{{ platform.platform-image }}" alt="{{ platform.name }}">
            </a>
            <h4>{{ platform.name }}</h4>
        </div>
      {% endfor %}
      </div>
    </div>
    <!-- Landscape -->
</div>
