---
layout: default
---
{% include nav.html %}
{% include subnav-platforms.html %}

{% if page.background == "grey" or page.background == "gray" %}
<script>
document.getElementById("page-top").className="bg-light";
</script>
{% endif %}



<style>
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}
</style>

<div class="container" id="pagecontainer">
    <h1>{{ site.data.platforms[site.locale].title }}</h1>
    <h5 class="text-muted" > Click on the arrows to learn how the platforms work</h5 >
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
   {% for platform in site.data.platforms[site.locale].platforms %}
        <div class="carousel-item {% if forloop.first == true %}active{% endif %}">
           <img class="rounded mx-auto d-block w-25"  src="{{ platform.platform-image }}">
             <h4 style="text-align:center;">{{ platform.platform-verb }}</h4>
        </div>
     {% endfor %}
</div>
     <a class="carousel-control-prev" href="#carouselExampleControls" role="button" outline="black"  data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
         <a class="carousel-control-next" href="#carouselExampleControls" role="button"  class="btn btn-primary btn-lg btn-block" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>


<section class="page-section bg-light" >
    <div class="container" id="pagecontainer">
    <h5 class="text-muted" > This graph illustrates which platform is to be used for each stage of the Machine Learning cycle</h5 >
<img src="assets/CSC_radial_landscape_1.png" class="rounded mx-auto d-block" alt="Responsive image">
    </div>
</section>




<div class="container" id="pagecontainer">
    <h5 class="text-muted">{{ site.data.platforms[site.locale].intro-text }}</h5>
    <!-- Landscape -->

      <div class="row pt-3">
      {% for platform in site.data.platforms[site.locale].platforms %}
        <div class="col-4 pb-3">
            <a href="{{ platform.platform-page }}">
              <img style="width: 300px; border: 1px solid black;" src="{{ platform.platform-image }}" alt="{{ platform.name }}">
            </a>
            <h4>{{ platform.name }}</h4>
        </div>
      {% endfor %}
      </div>
    </div>
    <!-- Landscape -->


