---
layout: default
---
{% include nav.html %}
{% include subnav-aboutus.html %}

{% if page.background == "grey" or page.background == "gray" %}
<script>
document.getElementById("page-top").className="bg-light";
</script>
{% endif %}

<div class="container" id="pagecontainer">
    <div class="row">
        <div class="col-3 text-center">
            <img class="mx-auto rounded-circle p-1" style="width: 250px;" src={{ page.team-member-photo }} alt="">
		    <h4 class="pt-2 text-center">{{ page.team-member-name }}</h4>
            <p class="text-center text-muted">{{ page.job-role }}</p>
        </div>
        <div class="col-8">
            {{ content }}
        </div>
    </div>
</div>


